<div style="display: flex; flex-direction: row;">
    <div *ngFor="let sensor of sensor$ | async" style="display: flex; flex-direction: column">
        <h2>{{sensor.type}} in {{sensor.location}}</h2>
        <div *ngFor="let reading of sensor.readings" >{{reading.value}} at {{reading.date}}</div>
    </div>
</div>
